<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="/static/css/xk/xk.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/select.css">
</head>

<body class="no-skin">
<div class="main-container" id="main-container">

    <div class="bigbox" style="background-color: transparent; margin-top: 0px; position: absolute">
        <ul style="margin-left: 0; margin-top: 0;">
            <li><a href="/bookLend/index"> 首页 </a></li>
            <li><a href="/bookLend/readers"><span> 读者与借阅管理 </span> </a></li>
            <li><a href="/bookLend/addBook"><span> 增添新书籍 </span> </a></li>
            <li><a href="/bookLend/addReader"><span> 增添新会员 </span> </a></li>
            <li><a href="/bookLend/addLend"><span> 增添新借阅关系 </span> </a></li>
            <li><a href="/bookLend/readerLend"><span>未归还书籍列表</span></a></li>
        </ul>
    </div>


    <div class="main-text">

        <div style="clear:both"></div>

        <div style="padding-top: 10px">
            <h4 class="header smaller lighter grey"> 修改书籍信息 </h4>

            <div class="widget-content navbar-example" id="pager_scroll" style="overflow: auto;">
                <form method="post" action="">
                    {% csrf_token %}
                    <table class="table table-hover table-bordered table-striped" style="width: 90%">
                        <tbody id="scoreintbody">
                        <tr>
                            <th>书号</th>
                            <th>{{ book.ISBN }}</th>
                            <input type="hidden" value="{{ book.ISBN }}" name="ISBN">
                        </tr>
                        <tr>
                            <th>书名</th>
                            <th><input placeholder="{{ book.name }}" type="text" name="name" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <th><input placeholder="{{ book.press }}" type="text" name="press" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>出版日期</th>
                            <th>
                                <input type="number" name="year" class="keyword"/> 年
                                <input type="number" name="month" max="12" min="1" class="keyword"/> 月
                                <input type="number" name="day" max="31" min="1" class="keyword"/> 日
                            </th>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <th><input placeholder="{{ book.author }}" type="text" name="author" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>内容摘要</th>
                            <th><input placeholder="{{ book.abstract }}" type="text" name="abstract" class="keyword"/>
                            </th>
                        </tr>
                        <tr>
                            <th>数量</th>
                            <th><input placeholder="{{ book.book_num }}" type="number" name="book_num" class="keyword"/>
                            </th>
                        </tr>
                        <input type="hidden" value="changeBook" name="changeBook">
                        </tbody>
                    </table>
                    <button style="width: 5%; margin-left: 30px" id="search" type="submit">修改书籍</button>
                </form>
            </div>
        </div>
    </div>


</div>
</div>
<script src="../../static/js/jquery-3.6.1.min.js"></script>
<script src="../../static/js/book_index.js"></script>
{% if error_msg %}
    <script>
        alert("{{ error_msg }}");
    </script>
{% endif %}
</body>

</html>