<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="/static/css/xk/xk.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/select.css">
</head>

<body class="no-skin">
<div class="main-container" id="main-container">

    <div class="bigbox" style="background-color: transparent; margin-top: 0px; position: absolute">
        <ul style="margin-left: 0; margin-top: 0;">
            <li><a href="/bookLend/index"> 首页 </a></li>
            <li><a href="/bookLend/readers"><span> 读者与借阅管理 </span> </a></li>
            <li><a href="/bookLend/addBook"><span> 增添新书籍 </span> </a></li>
            <li><a href="/bookLend/addReader"><span> 增添新会员 </span> </a></li>
            <li><a href="/bookLend/addLend"><span> 增添新借阅关系 </span> </a></li>
            <li><a href="/bookLend/readerLend"><span>未归还书籍列表</span></a></li>
        </ul>
    </div>


    <div class="main-text">

        <div style="clear:both"></div>

        <div style="padding-top: 10px">
            <h4 class="header smaller lighter grey"> 查找书籍 </h4>

            <div class="widget-content navbar-example" id="pager_scroll" style="overflow: auto;">
                <form method="post" action="">
                    {% csrf_token %}
                    <table class="table table-hover table-bordered table-striped" style="width: 90%">
                        <tbody id="scoreintbody">
                        <tr>
                            <th>书号</th>
                            <th><input type="text" name="ISBN" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>书名</th>
                            <th><input type="text" name="name" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <th><input type="text" name="press" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>出版日期</th>
                            <th>
                                <input type="number" name="year" class="keyword"/> 年
                                <input type="number" name="month" min="1" max="12" class="keyword"/> 月
                                <input type="number" name="day" min="1" max="30" class="keyword"/> 日
                            </th>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <th><input type="text" name="author" class="keyword"/></th>
                        </tr>
                        <tr>
                            <th>内容摘要</th>
                            <th><input type="text" name="abstract" class="keyword"/></th>
                        </tr>
                        <input type="hidden" value="search" name="search">
                        </tbody>
                    </table>
                    按关键词查找：
                    <button style="width: 5%; margin-left: 30px" id="search" type="submit">搜索</button>
                </form>
            </div>

            <input type="hidden" id="csrf" value="{{ csrf_token }}">

            <div class="widget-content navbar-example" id="pager_scroll" style="overflow: auto; margin-top: 70px;">

                <table class="table table-hover table-bordered table-striped" style="width: 90%">
                    <tbody id="scoreintbody">
                    <tr>
                        <th>书号</th>
                        <th>书名</th>
                        <th>出版社</th>
                        <th>出版日期</th>
                        <th>作者</th>
                        <th>馆藏量</th>
                        <th>总数</th>
                        <th>管理</th>
                    </tr>

                    {% if books %}
                        {% for book in books %}
                            <tr>
                                <td><span class="ISBN">
                                    <a href="/bookLend/changeInfo&ISBN={{ book.ISBN }}">{{ book.ISBN }}</a></span>
                                </td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.press }}</td>
                                <td>{{ book.publishDate }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.available_num }}</td>
                                <td>{{ book.book_num }}</td>
                                <td>
                                    <button type="button" class="deleteBook">删除该书籍</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>
</div>
<script src="../../static/js/jquery-3.6.1.min.js"></script>
<script src="../../static/js/book_index.js"></script>
{% if error_msg %}
    <script>
        alert("{{ error_msg }}");
    </script>
{% endif %}
</body>

</html>