<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>餐厅订餐网站</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/css/order.css">
</head>
<body>
    <div class="col-md-3" style="height: 1000px">
        <div class="col-md-11 navigation col-lg-offset-1">
            <div class="nav-head">
                <span class="web-title"><h2>餐厅订餐</h2></span>
            </div>
           <div class="nav-content">
               <ul class="nav nav-pills nav-stacked navigation-a">
                   <li><a href="../index/" id="index-a"><span class="glyphicon glyphicon-home"></span> 主页</a></li>
                   <li><a href="../restaurant/" id="restaurant-a"><span class="glyphicon glyphicon-shopping-cart"></span> 餐厅</a></li>
                   <li><a href="../order/" id="order-a"><span class="glyphicon glyphicon-tasks"></span> 我的订单</a></li>
                   <li><a href="../changeInfo/" id="user-a"><span class="glyphicon glyphicon-user"></span> 个人信息</a></li>
               </ul>
           </div>
        </div>
    </div>
    <div class="col-md-9" style="height: auto">
        <div class="col-md-10 col-md-offset-1 order-area">
            {% for order in orders %}
            <div class="col-md-10 col-md-offset-1 order-form">
                <div class="order-form-information col-md-11">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="order-form-information-head">餐厅名</td>
                            <td>{{ order.canteenName }}</td>
                        </tr>
                        <tr>
                            <td class="order-form-information-head">餐厅地址</td>
                            <td>{{ order.address }}</td>
                        </tr>
                        <tr>
                            <td class="order-form-information-head">预定时间</td>
                            <td>{{ order.time }}</td>
                        </tr>
                        <tr>
                            <td class="order-form-information-head">预定菜品</td>
                            <td>{{ order.dishList }}</td>
                        </tr>
                        <tr>
                            <td class="order-form-information-head">预定桌号</td>
                            <td>{{ order.tableID }}</td>
                        </tr>
                        <tr>
                            <td class="order-form-information-head">总价</td>
                            <td>{{ order.totalPrice }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<script src="../static/js/jquery-3.6.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>